* { margin: 0; padding: 0; }

html {
  height: 100%;
}

p {
  margin: .25em;
}

a {
  text-decoration: none;
}
body {
  font-size: 100%;
  font-family: "Georgia", serif;
  background-color: rgb(58,77,94);
}

h1, h3 {
  margin: .25em;
  font-family: "Helvetica", san-serif;
  color:#fff;
}

h2, h4 {
  font-family: "Helvetica", san-serif;
  color: #333;
}

h2 { margin: .5em; }

img, object {
  max-width: 100%;
}

#header {

}

#navigation {
  width: 100%;
  overflow: hidden;
}

#navigation ul li a {
  color: #fff;
}

#intro {
  font-size: 1.05em;
  line-height: 1.6em;
  font-style: italic;
}
#featured_product {
  background-color: rgba(128,154,175,.5);
  border: 1px dotted #fff;
  width: 90%;
  margin: 1em 3%;
}

#footer {
  width: 100%;
  background-color: #3a4d5e;
  color: #fff;
}


.row {
  background-color: #3a4d5e;
  overflow: hidden;
  color: #fff;
  border-bottom: 4px solid #f8c35b;
}