body {
  margin: 0 2%;
  box-shadow: 10px 15px 25px #000;
  background-image: -webkit-gradient(top, rgba(0,0,0,.5),  rgba(0,0,0,.5) 197px, rgba(207,159,66,1) 197px, rgba(207,159,66,1) 204px, transparent 204px, rgba(0,0,0,.5) );  
  background-color: rgba(58,77,94,.8);
}
#header {
  -webkit-border-top-right-radius: 20px;
  -webkit-border-top-left-radius: 20px;
  background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%,rgba(75,75,75,1)), color-stop(100%, rgba(40,40,40,1)));
}

#navigation ul li a {
  background-image: url('disclosure.png'), -webkit-gradient(linear, center top, center bottom, color-stop(0%, rgba(75,75,75,1)), color-stop(100%,rgba(40,40,40,1)));
  background-repeat: no-repeat;
  background-position: 95% 50%, 100% 100%;
}

#footer {
  height: 40px;
  clear: both;
  background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, transparent), color-stop(30%, rgba(0,0,0,.3)), color-stop(100%, black));
}
